<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!-- header un time line fragment-->

<<html xmlns:th="http://www.thymeleaf.org">


    <head th:fragment="head">
        <title>Mi Tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--nav bar-->
        <!-- NAV BAR -->
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Boot Security</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{~/index}"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link" href="#" th:href="@{~/profile/index}">Profile</a>
                        </li>              
                        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                            <a class="nav-link" href="#" th:href="@{~/admin/index}">User</a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item">
                            <a class="nav-link" href="#" th:href="@{~/management/index}">ADMIN</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                        <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
                        <button sec:authorize="isAnonymous()" th:href="@{~/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login</button>
                    </form>
                </div>
            </nav>
        </header>
        <div class-"container"></div>
</html>
<!-- FOOTER -->
<footer th fragment="footer"class="bg-dark text-white fixed-bottom">
    <div>
        <p>Copyright Tienda &copy;2022</p>
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
           th:href="${urlBuilder.replaceQueryParam("lang','es').toUristring())">ES</a>
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
           th:href="S(urlBuilder.replaceQueryParam(lang','en').toUriString())">EN</a>
    </div>
</footer>   
</body>